.d-1 {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #6a5acd, #00c2ff);
    border-radius: 8px;
    transition: 0.5s ; 
}
.d-1:hover {
    transform: scale(1.2);
}

.d-2 {
    width: 150px;
    height: 150px;
    background-color: #4caf50;
    border-radius: 6px;
    transition: 2s ; 
}
.d-2:hover {
    transform: translateX(100px);
}
.d-3 {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #ff6a00, #ffcc00);
    border-radius: 10px;
    transition: 0.7s ease; 
}

.d-3:hover {
    transform: rotate(180deg); 
}

.d-4 {
    width: 250px;
    height: 150px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 3s ease-in-out;
}

.d-4:hover {
    transform: translateY(-20px) scale(1.1); 
}
.d-5 {
    width: 250px;
    height: 150px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: 0.6s ease;
}
.d-5:hover {
    transform: translateY(-20px) scale(1.1) rotate(5deg);
}
.d-6 {
    background-color: #3498db; 
    color: white;
    border-radius: 6px;
    transition: 0.6s ease-in-out; 
}
.d-6:hover {
    transform: translateX(40px); 
    background-color: #2ecc71;  
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}
