body {
    background-color: rgb(112, 255, 255);
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.main-div {
    width: 400px;
    height: 380px;
    background-color: white;
    border-radius: 15px;
}
.img-1 {
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
}
.img-2 {
    position: absolute;
    border-radius: 500px;
    border: 5px solid white;
    margin-left: 135px;
    margin-top: 90px;
}
.p-1 {
    position: absolute;
    margin-left: 137px;
    margin-top: 200px;
    font-size: 23px;
}
.p-2 {
    color: gainsboro;
    position: absolute;
    margin-left: 270px;
    margin-top: 207px
}
.p-3 {
    position: absolute;
    color: gainsboro;
    margin-left: 160px;
    margin-top: 235px;
}
.hr-1 {
    position: absolute;
    margin-top: 280px;
    width: 398px;
    background-color: gainsboro;
    color: gainsboro;
}