@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fondamento:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lemon&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+FR+Moderne+Guides&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Spicy+Rice&family=Teko:wght@300..700&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(217, 54%, 11%);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: "Outfit";
}
.main-div {
    display: flex;
    background-color: hsl(216, 50%, 16%);
    padding: 30px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.img-1 {
    width: 420px;
    height: 400px;
}
.h1-1 {
    margin-right: 140px;
    color: white;
    font-weight: 300;
}
.p-1 {
    color: hsl(215, 32%, 27%);
    font-size: 30px;
    margin-right: 30px;
}
.p-2 {
    color: hsl(178, 100%, 50%);
    margin-left: 10px;
}
.div-1 {
    display: flex;
}
.between {
    display: flex;
    justify-content: space-between;
    width: 100%;
} 
.p-3 {
    gap: 40px;
    color: hsl(215, 51%, 70%);
}
hr {
    height: 1%;
    width: 100%;
    border-color: hsl(215, 51%, 70%);
}
.img-2 {
    height: 50px;
    width: 50px;
}
.p-4 {
    color: hsl(215, 51%, 70%);
}
.img-div {
    gap: 15px; 
    display: flex;
    align-items: center;
    margin-right: 200px;
}
