body {
    background-color: hsl(210, 46%, 95%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div-1 {
    background-color: white;
    height: 300px;
    width: 850px;
    border-radius: 8px;
    display: flex;
}
.img-1 {
    height: 300px;
    width: 400px;
}
.p-1 {
    margin-left: 30px;
    font-size: 25px;
    margin-right: 50px;
}
.p-2 {
    color: gainsboro;
    margin-left: 30px;
}
